body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:sans-serif;
   background-color: beige;
   padding:0px;
   margin:0;
}

#app {
    display:flex;
    flex-direction: column;
    background-color: blanchedalmond;
    margin:100px;
    color:whitesmoke;
    padding:20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.flex-item {
    display:flex;
    flex-direction: column;
    background-color: rgb(180, 170, 154);
    margin:20px;
    padding:10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}